@using Kendo.Mvc.UI
@model IEnumerable<DemoPOCApp.Models.Order>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@(Html.Kendo().Grid<DemoPOCApp.Models.Order>()
    .Name("grid")
    .Height(550)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ProductsRead", "Grid"))
        .PageSize(10)
    )
    .Groupable()
    .Sortable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .Pageable(p => p
        .ButtonCount(5)
        .Refresh(true)
        .PageSizes(new int[] { 5, 10, 20 })
    )
    .Columns(columns =>
    {
        columns.Bound(o => o.OrderID).Width(150);
        columns.Bound(o => o.OrderDate).Title("Order Date").Format("{0:MM/dd/yyyy}").Width(200);
        columns.Bound(o => o.ShipName).Title("Ship Name").Width(400);
        columns.Bound(o => o.ShipCity).Title("Ship City").Width(350);
    })
    .ToolBar(toolbar => toolbar.Search())
)